{% extends 'main/layout.html' %}

{% block title %}Мошеники везде{% endblock %}

{% block content %}
<p>Добро пожаловать на сайт по кибербезопасности! Мы рады приветствовать всех, кто интересуется защитой своей информации в сети. На нашем сайте вы найдете полезные статьи, интересные материалы и тесты по кибербезопасности, которые помогут вам узнать, как защитить себя и своих близких от киберугроз. Независимо от вашего возраста или уровня знаний, у нас есть что-то полезное для каждого. Присоединяйтесь к нам и делитесь информацией с друзьями и семьей – вместе мы сделаем интернет безопаснее для всех!</p>
{% endblock %}